    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <array>
    <dict>
  		<key>Title</key>
  		<string>Rules</string>
  		<key>Type</key>
  		<string>Group</string>
  	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<false/>
    		<key>Key</key>
    		<string>rule.Amazon (buggy)</string>
    		<key>Title</key>
    		<string>Amazon (buggy)</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.bit.ly</string>
    		<key>Title</key>
    		<string>bit.ly</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.CDT</string>
    		<key>Title</key>
    		<string>CDT</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Cisco</string>
    		<key>Title</key>
    		<string>Cisco</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Dropbox</string>
    		<key>Title</key>
    		<string>Dropbox</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.DuckDuckGo</string>
    		<key>Title</key>
    		<string>DuckDuckGo</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.EFF</string>
    		<key>Title</key>
    		<string>EFF</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Evernote</string>
    		<key>Title</key>
    		<string>Evernote</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Facebook</string>
    		<key>Title</key>
    		<string>Facebook</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<false/>
    		<key>Key</key>
    		<string>rule.Facebook+ (may break apps)</string>
    		<key>Title</key>
    		<string>Facebook+ (may break apps)</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Gentoo</string>
    		<key>Title</key>
    		<string>Gentoo</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.GitHub</string>
    		<key>Title</key>
    		<string>GitHub</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.GMX</string>
    		<key>Title</key>
    		<string>GMX</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Google Search</string>
    		<key>Title</key>
    		<string>Google Search</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Google APIs</string>
    		<key>Title</key>
    		<string>Google APIs</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.GoogleServices</string>
    		<key>Title</key>
    		<string>GoogleServices</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Identica</string>
    		<key>Title</key>
    		<string>Identica</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Ixquick</string>
    		<key>Title</key>
    		<string>Ixquick</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Hotmail / Live</string>
    		<key>Title</key>
    		<string>Hotmail / Live</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Mail.com</string>
    		<key>Title</key>
    		<string>Mail.com</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Meebo</string>
    		<key>Title</key>
    		<string>Meebo</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Microsoft</string>
    		<key>Title</key>
    		<string>Microsoft</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Mozilla</string>
    		<key>Title</key>
    		<string>Mozilla</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.NL Overheid</string>
    		<key>Title</key>
    		<string>NL Overheid</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Noisebridge</string>
    		<key>Title</key>
    		<string>Noisebridge</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.NYTimes</string>
    		<key>Title</key>
    		<string>NYTimes</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.PayPal</string>
    		<key>Title</key>
    		<string>PayPal</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Amazon S3</string>
    		<key>Title</key>
    		<string>Amazon S3</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Scroogle</string>
    		<key>Title</key>
    		<string>Scroogle</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Torproject</string>
    		<key>Title</key>
    		<string>Torproject</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Twitter</string>
    		<key>Title</key>
    		<string>Twitter</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.WashingtonPost</string>
    		<key>Title</key>
    		<string>WashingtonPost</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Wikipedia</string>
    		<key>Title</key>
    		<string>Wikipedia</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.WordPress.com</string>
    		<key>Title</key>
    		<string>WordPress.com</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
      <dict>
    		<key>DefaultValue</key>
    		<true/>
    		<key>Key</key>
    		<string>rule.Zoho</string>
    		<key>Title</key>
    		<string>Zoho</string>
    		<key>Type</key>
    		<string>CheckBox</string>
    	</dict>
</array></plist>